<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Carros Crear 4404</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1>Nuevo carro</h1>

  <form action="/carros4404" method="POST">
    <label for="marca">Marca</label>
    <input id="marca" name="marca" type="text" required />
    <button type="submit">Guardar</button>
    <a href="/carros4404">Cancelar</a>
  </form>
</body>
</html>