<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Carros Show 4404</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1>Detalle de carro</h1>
  <p><strong>ID:</strong> <%= carro.id %></p>
  <p><strong>Marca:</strong> <%= carro.marca %></p>
  <p><a href="/carros4404">← Volver</a></p>
</body>
</html>